html,body{
    margin: 0%;
}
#imagem_fundo{
    background-image: url("fundo.jpeg");
    height: 100%;
    text-align: center;
}
#t1{
    color: aliceblue;
    padding: 3%;
    font-size: 45px;
    line-height: 0.8;
}
#h2{
    color: rgb(255, 255, 255);
    margin-left: 20%;
    margin-right: 20%;
    border-top: 8px solid rgb(248, 248, 248);
    text-shadow: 4px black;
}
#a1{
    color: cadetblue;
    border: 6px darkslategray;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
}
p{
    color: white;
    height: 8px;
}
#t2{
    color: rgb(200, 195, 233);
}